
*{
    font-family:sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #ccc; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

button{
    background-color:  #687864;
    float:right;
    padding: 10px 15px;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 12px;
    border:none; 
}
button:hover{
    opacity: .7;
}


form{
    width:500px;
    border: 2px solid #ccc;
    padding:30px;
    background:#fff;
    border-radius: 15px;
}
h1{
    text-align: center;
    margin-bottom: 40px;
}
.container p{
    font-size:15px;
}

input{
    display:block;
    border: 2px solid #ccc;
    width:95%;
    padding: 10px;
    margin: 10px auto;
    border-radius:5px;
}
label{
    color:black;
    font-size:18px;
    padding:10px;

}
.error{
    background: #F2DEDE;
    color: #A94442;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}
.success{
    background: #D4EDDA;
    color: #40754C;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}

.su{
    display:inline-block;
    padding:10px;
}
.fp{
    display:inline-block;
    text-decoration: none;

}
.fp:hover{
    text-decoration: underline;
} 

a:hover{
    opacity: .7;
} 
.btn-SignUp{
    float:right;
    background-color: #687864;
    font-size:20px; 
    border: 2px solid white;
    padding: 10px ;
    cursor: pointer;
    margin:0px 19px;
}
.ca{
    padding: 16px;
    text-decoration: none;
    float:right;
    
}
.ca:hover{
    text-decoration: underline;
} 

.container{
    min-height:80vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
.container form{
    width:500px;
    padding:20px;
    border-radius:10px;
    box-shadow:0 4px 8px 0 
    rgba(0,0,0,0.2),
    0 06px 20px 0
    rgba(0,0,0,0.19);

}
.insert-heading{
    margin-left: 150px;
}
.box{
    width: 750px;
    padding: 20px;
}
.container table{
    padding:20px;
    border-radius: 10px;
    box-shadow:0 4px 8px 0 
    rgba(0,0,0,0.2),
    0 06px 20px 0
    rgba(0,0,0,0.19);
} 
.records-heading{
    margin-left: 300px;
    font-size: 30px;
}
.insert-link{
    display:flex;
    justify-content:flex-end;
}

form button{
    margin: 10px;
}
.logout-btn{
    margin: 10px;
    width:100px;
    background-color:red;   
    color: white;
}
.phpHeading{
    background-color: lightgray;
}
.phpHeading h1{
    font-style:bold;
}




